@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Merienda', cursive;
}

body{
    background-color: #11999e;
}

.contenedor{
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin: 0px 100px;
}

.perfil{
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    margin-right: 10px;
    gap: 15px;
    position: sticky;
    top: 20px;
}

#contenedorClima{
    border: 3px solid #000;
    display: flex;
    flex-direction: unset;
    width: 300px;
    padding: 20px;
    margin-right: 10px;
    gap: 15px;
    position: sticky;
    top: 20px;
}

.agregar-tarea{
        display: flex;
        align-items: center;
}

.apartado-tarea{
    border: 3px solid #000;
    width: 400px;
}


ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: aqua;
}

#enviar:hover,
.eliminar-tarea:hover{
    cursor: pointer;
}