@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Merienda', cursive;
}

body{
    background-color: #11999e;
}

.contenedor{
    width: 80vh;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 30px;
}

ul li{
    display: flex;
    align-items: center;
}

/*TEMP Y TIEMPO*/

#contenedorClima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0,2rem;
}

#temperaturaCaja{
    background-color: aqua;
    border-radius: 20px;
}

#ubicacionCaja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 20px;
}

#contenedorClima{
    display: flex;
    justify-content: space-between;
    align-items: center;
}